* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}
content {
  max-width: 1400px;

}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background-color: rgb(255, 243, 227);
  box-shadow: 3px 2px 5px #dedede;
  padding: 12px;
  flex-wrap: wrap;
}
.title {
  align-self: center;
  margin: 10px 20px 20px;
}
#srcImg {
  width: 200px;
  height: auto;
}
.header__img {
  min-height: 250px;
  margin-left: 20px;
}
.header__img img {
  min-height: 150px;
}
.header__img-change img {
  max-width: 90px;
}
.header__img-change_ul {
  list-style: none;
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
}
.header__img-change_ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 8px;
  gap: 4px;
  width: 270px;
}
.header__img-change_ul li.option-array {
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header__img-change_ul li.option-array #option-array__size {
  font-size: 18px;
}
.header__img-change_ul li.option-array .option-array__warning {
  opacity: 1;
  font-size: 12px;
  color: rgb(163, 51, 7);
}
.header__img-change_ul li.option-array .option-array__warning.hidden {
  opacity: 0;
}
.header__img-change_ul li:not(.option-array).active {
  pointer-events: none;
}
.header__img-change_ul li.active {
  background-color: rgb(255, 223, 181);
}
.header__img-change_ul li:hover {
  background-color: rgb(255, 187, 103);
  cursor: pointer;
}
.buttons-container__title {
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 12px;
}

.buttons-container.inactive {
  opacity: 0.32;
  cursor: not-allowed;
}
.buttons-container.inactive button {
  pointer-events: none;
}

.results {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 280px;
}
.results > div {
  width: 33%;
  min-width: 290px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.results div h3 {
  margin-bottom: 8px;
}
.results div > img {
  margin-top: 8px;
  max-width: 400px;
  height: auto;
}
.results div > button {
  border-radius: 4px;
  box-shadow: 3px 2px 5px #dedede;
  border: none;
  padding: 8px 12px;
}
.results div .testing {
  background-color: rgb(255, 223, 181);
}
.results div .bulk-testing {
  margin-top: 4px;
  background: rgb(95, 84, 70);
  color: #fff;
}
.results div .testing:hover,
.results div .bulk-testing:hover {
  background-color: rgb(255, 187, 103);
  cursor: pointer;
}
.results div .bulk-testing:hover {
  background-color: rgb(184, 164, 139);

}
.info__details {
  color: rgb(65, 65, 255);
  height: 242px;
}

button.disabled {
  pointer-events: none;
  opacity: 0.2;
}

/* UI console */
.info {
  display: flex;
  align-items: flex-end;
  position: fixed;
  width: 100%;
  margin-top: 10px;
  bottom: 0;
  height: 242px;
  overflow-y: auto;
  background: rgb(255, 243, 227);
  box-shadow: 0 10px 20px #000;
}
ul.info__details {
  background: rgb(255, 243, 227);
  color: #000;
  /* font-family:'Consolas', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Inconsolata', monospace;
  padding: 0px 12px;
  font-size: 24px;
  min-height: 108px;
  width: 100%;
}
ul.info__details > li {}
ul.info__details > li:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 8px;
  height: 30px;
  background-color: rgb(255, 187, 103);
}

.section-title {
  padding: 12px;
}
