* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: rgb(255, 243, 227);
  box-shadow: 3px 2px 5px #dedede;
  padding: 12px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header__title {
  align-self: center;
}
#srcImg {
  width: 200px;
  height: auto;
}
.header__img {
  min-height: 250px;
}
.header__img img {
  min-height: 150px;
}
.header__img-change img {
  max-width: 90px;
}
.header__img-change_ul {
  list-style: none;
  margin-top: 4px;
}
.header__img-change_ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 8px;
  gap: 4px;
}
.header__img-change_ul li.active {
  background-color: rgb(255, 223, 181);
  pointer-events: none;
}
.header__img-change_ul li:hover {
  background-color: rgb(255, 187, 103);
  cursor: pointer;
}

.results {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
}
.results > div {
  width: 25%;
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.results div h3 {
  margin-bottom: 8px;
}
.results div > img {
  margin-top: 8px;
  width: 100%;
  min-height: 200px;
}
.results div > button {
  border-radius: 4px;
  box-shadow: 3px 2px 5px #dedede;
  border: none;
  padding: 8px 12px;
}
.results div .testing {
  background-color: rgb(255, 223, 181);
}
.results div .bulk-testing {
  margin-top: 4px;
  background: rgb(95, 84, 70);
  color: #fff;
}
.results div .testing:hover,
.results div .bulk-testing:hover {
  background-color: rgb(255, 187, 103);
  cursor: pointer;
}
.info__details {
  color: rgb(65, 65, 255);
}


/* UI console */
.info {
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: 0;
  flex-grow: 1;
}
ul.info__details {
  background: rgb(255, 243, 227);
  color: #000;
  /* font-family:'Consolas', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Inconsolata', monospace;
  padding: 0px 12px;
  font-size: 24px;
  min-height: 108px;
  width: 100%;
}
ul.info__details > li {}
ul.info__details > li:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 8px;
  height: 30px;
  background-color: rgb(255, 187, 103);
}
